/last10years.csv
python_ci/src/learning/config/__pycache__/learning_config_table.cpython-310.pyc
python_ci/src/learning/config/jbcclassic2023/__pycache__/learning_config_evallist.cpython-310.pyc
python_ci/src/learning/config/jbcclassic2023/__pycache__/learning_config_racelists.cpython-310.pyc
python_ci/src/learning/config/jbcsprint2023/__pycache__/learning_config_evallist.cpython-310.pyc
python_ci/src/learning/config/jbcsprint2023/__pycache__/learning_config_racelists.cpython-310.pyc
python_ci/src/learning/core/__pycache__/learning_mlp_pytorch.cpython-310.pyc
python_ci/src/scrape/config/__pycache__/scrape_config_racetable.cpython-310.pyc
python_ci/src/scrape/config/__pycache__/scrape_config_table.cpython-310.pyc
python_ci/src/scrape/config/jbcclassic2023/__pycache__/scrape_config_train_test_objectrace.cpython-310.pyc
python_ci/src/scrape/config/jbcsprint2023/__pycache__/scrape_config_train_test_objectrace.cpython-310.pyc
python_ci/src/learning/core/__pycache__/__init__.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_class_horse.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_class_horseinteg.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_class_race.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_horseclass.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_horserace_util.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_jockeytable.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_racetrack_table.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_table_jockey.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_table_racetrack.cpython-310.pyc
python_ci/tests/__pycache__/test_horserace.cpython-310-pytest-7.1.3.pyc
python_ci/src/scrape/core/__pycache__/scrape_horseclass.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_horserace_util.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_jockeytable.cpython-310.pyc
python_ci/src/scrape/core/__pycache__/scrape_racetrack_table.cpython-310.pyc
python_ci/tests/__pycache__/test_horserace.cpython-310-pytest-7.1.3.pyc
